<app-header></app-header>
<div class="card" style="margin: 10px;">
    <div  style="padding: 2rem;">
        <div class="col-lg-4" style="text-align: center;">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YWJzdHJhY3QlMjBwcm9maWxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
                alt="Card image cap" style="height: 20em; width: auto;">
        </div>
        <div class="col-lg-8">
            <div class="card-body">
                <h2 class="card-title">John Dov</h2>
                <p>Mail : <a href="mailto:xyz.abc@mail.com">xyz.abc@mail.com</a></p>
                <p>Phone No : <a href="tel:9898988989">9898988989</a></p>
            </div>
        </div>
    </div>
</div>